Project/LazyAtHome.WCF.WebService/LazyAtHome.WCF.WebService.Console_Client/Service References/WashOrderService/WashOrderService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/WashOrderService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" />
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/WashOrderService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" />
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/WashOrderService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.OrderSystem.Contract.DataContract" />
  <xs:element name="Order_Order_SELECT_Entity_Express">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q1:LoginCredentials" />
        <xs:element minOccurs="0" name="iExpressNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iGetProduct" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetAmount" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetConsigneeAddress" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetExpress" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetPayment" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetStep" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_SELECT_Entity_ExpressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Order_SELECT_Entity_ExpressResult" nillable="true" type="q2:ReturnEntityOfOrder_OrderDCP7q220_SG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_CreateSendExpress">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q3:LoginCredentials" />
        <xs:element minOccurs="0" name="iOrderID" type="xs:int" />
        <xs:element minOccurs="0" name="iExpressNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_CreateSendExpressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Order_CreateSendExpressResult" nillable="true" type="q4:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Onekey_AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q5:LoginCredentials" />
        <xs:element minOccurs="0" name="iOrderID" type="xs:int" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.OrderSystem.Contract.DataContract" minOccurs="0" name="iProductList" nillable="true" type="q6:ArrayOfOrder_ProductDC" />
        <xs:element minOccurs="0" name="iMuser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Onekey_AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Onekey_AddProductResult" nillable="true" type="q7:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>