Project/LazyAtHome.Winform.FactoryPortal/LazyAtHome.Winform.FactoryPortal/Service References/WashOrderService/WashOrderService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/WashOrderService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" />
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/WashOrderService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" />
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/WashOrderService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.OrderSystem.Contract.DataContract" />
  <xs:element name="Order_Order_SELECT_Entity_OrderNumber">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q1:LoginCredentials" />
        <xs:element minOccurs="0" name="iOrderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iGetProduct" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetAmount" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetConsigneeAddress" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetExpress" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetPayment" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetStep" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_SELECT_Entity_OrderNumberResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Order_SELECT_Entity_OrderNumberResult" nillable="true" type="q2:ReturnEntityOfOrder_OrderDCP7q220_SG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_SELECT_Entity_Express">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q3:LoginCredentials" />
        <xs:element minOccurs="0" name="iExpressNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iGetProduct" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetAmount" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetConsigneeAddress" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetExpress" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetPayment" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetStep" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_SELECT_Entity_ExpressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Order_SELECT_Entity_ExpressResult" nillable="true" type="q4:ReturnEntityOfOrder_OrderDCP7q220_SG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_SELECT_Entity_FactoryCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q5:LoginCredentials" />
        <xs:element minOccurs="0" name="iCodeNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iGetProduct" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetAmount" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetConsigneeAddress" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetExpress" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetPayment" type="xs:boolean" />
        <xs:element minOccurs="0" name="iGetStep" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_SELECT_Entity_FactoryCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Order_SELECT_Entity_FactoryCodeResult" nillable="true" type="q6:ReturnEntityOfOrder_OrderDCP7q220_SG" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Factory_AddProduct">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q7:LoginCredentials" />
        <xs:element minOccurs="0" name="iOrderID" type="xs:int" />
        <xs:element xmlns:q8="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.OrderSystem.Contract.DataContract" minOccurs="0" name="iProductList" nillable="true" type="q8:ArrayOfOrder_ProductDC" />
        <xs:element minOccurs="0" name="iMuser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Factory_AddProductResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Factory_AddProductResult" nillable="true" type="q9:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Express_ADD_Factory">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iOrderID" type="xs:int" />
        <xs:element minOccurs="0" name="iExpressNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iRelationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iMuser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Express_ADD_FactoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Express_ADD_FactoryResult" nillable="true" type="q10:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Express_ADD_Factory_Re">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iOrderID" type="xs:int" />
        <xs:element minOccurs="0" name="iExpressNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iRelationID" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iMuser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Express_ADD_Factory_ReResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Express_ADD_Factory_ReResult" nillable="true" type="q11:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_FinishExpress">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iOrderID" type="xs:int" />
        <xs:element minOccurs="0" name="iExpressNumber" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_FinishExpressResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Order_FinishExpressResult" nillable="true" type="q12:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Product_UPDATE_Step">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iOrderID" type="xs:int" />
        <xs:element minOccurs="0" name="iOrderProductID" type="xs:int" />
        <xs:element minOccurs="0" name="iStep" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Product_UPDATE_StepResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Product_UPDATE_StepResult" nillable="true" type="q13:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Product_UPDATE_OtherCode">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q14:LoginCredentials" />
        <xs:element minOccurs="0" name="iOrderID" type="xs:int" />
        <xs:element minOccurs="0" name="iOrderProductID" type="xs:int" />
        <xs:element minOccurs="0" name="iOtherCode" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Product_UPDATE_OtherCodeResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Product_UPDATE_OtherCodeResult" nillable="true" type="q15:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Product_OutFactory">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q16:LoginCredentials" />
        <xs:element minOccurs="0" name="iOrderID" type="xs:int" />
        <xs:element minOccurs="0" name="iOrderProductID" type="xs:int" />
        <xs:element minOccurs="0" name="iExpressNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iMuser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Product_OutFactoryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q17="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Product_OutFactoryResult" nillable="true" type="q17:ReturnEntityOfint" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_InFactory_FailNotify_NotFound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q18="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q18:LoginCredentials" />
        <xs:element minOccurs="0" name="iExpressNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iMuser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_InFactory_FailNotify_NotFoundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q19="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Order_InFactory_FailNotify_NotFoundResult" nillable="true" type="q19:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_InFactory_FailNotify_ItemError">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q20="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q20:LoginCredentials" />
        <xs:element minOccurs="0" name="iOrderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iContent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iMuser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_InFactory_FailNotify_ItemErrorResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q21="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Order_InFactory_FailNotify_ItemErrorResult" nillable="true" type="q21:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_OutFactory_FailNotify_NotFound">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q22="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q22:LoginCredentials" />
        <xs:element minOccurs="0" name="iCode" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iMuser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_OutFactory_FailNotify_NotFoundResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q23="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Order_OutFactory_FailNotify_NotFoundResult" nillable="true" type="q23:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_OutFactory_FailNotify_ItemBad">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q24="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q24:LoginCredentials" />
        <xs:element minOccurs="0" name="iOrderNumber" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iContent" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iMuser" type="xs:int" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Order_Order_OutFactory_FailNotify_ItemBadResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q25="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Order_Order_OutFactory_FailNotify_ItemBadResult" nillable="true" type="q25:ReturnEntityOfboolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>