Project/LazyAtHome.WCF.WebService/LazyAtHome.WCF.WebService.Console_Client/Service References/PRService/PRService36.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/PRService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.Common.Contract.Enumerate" />
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/PRService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" />
  <xs:element name="PR_Operator_Login">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="iLoginName" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="iPassword" nillable="true" type="xs:string" />
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.Common.Contract.Enumerate" minOccurs="0" name="iOperatorType" type="q1:OperatorType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="PR_Operator_LoginResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="PR_Operator_LoginResult" nillable="true" type="q2:ReturnEntityOfOperatorDCcHStGbqD" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>