Project/LazyAtHome.WCF.WebService/LazyAtHome.WCF.WebService.Console_Client/Service References/WashProductService/WashProductService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/WashProductService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" />
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/WashProductService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" />
  <xs:element name="Wash_Class_SELECT_List_Second">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q1:LoginCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Wash_Class_SELECT_List_SecondResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Wash_Class_SELECT_List_SecondResult" nillable="true" type="q2:ReturnEntityOfArrayOfWash_ClassDC0nVOtipR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Wash_Product_SELECT_List">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" minOccurs="0" name="iCredentials" nillable="true" type="q3:LoginCredentials" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="Wash_Product_SELECT_ListResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" minOccurs="0" name="Wash_Product_SELECT_ListResult" nillable="true" type="q4:ReturnEntityOfArrayOfWash_ProductDC0nVOtipR" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>