Project/LazyAtHome.Winform.FactoryPortal/LazyAtHome.Winform.FactoryPortal/Service References/QFExpressService/QFExpressService5.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ReturnEntityOfboolean">
    <xs:annotation>
      <xs:appinfo>
        <GenericType Name="ReturnEntityOf{0}{#}" Namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" xmlns="http://schemas.microsoft.com/2003/10/Serialization/">
          <GenericParameter Name="boolean" Namespace="http://www.w3.org/2001/XMLSchema" />
        </GenericType>
      </xs:appinfo>
    </xs:annotation>
    <xs:sequence>
      <xs:element minOccurs="0" name="Code" type="xs:int" />
      <xs:element minOccurs="0" name="Message" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OBJ" type="xs:boolean" />
      <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ReturnEntityOfboolean" nillable="true" type="tns:ReturnEntityOfboolean" />
</xs:schema>