Project/LazyAtHome.Winform.FactoryPortal/LazyAtHome.Winform.FactoryPortal/Service References/SFExpressService/SFExpressPortal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="SFExpressPortal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_ISFExpress_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/SFExpressService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/SFExpressService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/SFExpressService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/SFExpressService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.Common.Contract.Enumerate" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/SFExpressService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/SFExpressService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.SFExpress" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/SFExpressService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Enumerate" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/SFExpressService?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/SFExpressService?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="ISFExpress_CreateOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrder" />
  </wsdl:message>
  <wsdl:message name="ISFExpress_CreateOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateOrderResponse" />
  </wsdl:message>
  <wsdl:message name="ISFExpress_OrderSearch_InputMessage">
    <wsdl:part name="parameters" element="tns:OrderSearch" />
  </wsdl:message>
  <wsdl:message name="ISFExpress_OrderSearch_OutputMessage">
    <wsdl:part name="parameters" element="tns:OrderSearchResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="ISFExpress">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/ISFExpress/CreateOrder" message="tns:ISFExpress_CreateOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISFExpress/CreateOrderResponse" message="tns:ISFExpress_CreateOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="OrderSearch">
      <wsdl:input wsaw:Action="http://tempuri.org/ISFExpress/OrderSearch" message="tns:ISFExpress_OrderSearch_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ISFExpress/OrderSearchResponse" message="tns:ISFExpress_OrderSearch_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_ISFExpress" type="tns:ISFExpress">
    <wsp:PolicyReference URI="#WSHttpBinding_ISFExpress_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateOrder">
      <soap12:operation soapAction="http://tempuri.org/ISFExpress/CreateOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="OrderSearch">
      <soap12:operation soapAction="http://tempuri.org/ISFExpress/OrderSearch" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SFExpressPortal">
    <wsdl:port name="WSHttpBinding_ISFExpress" binding="tns:WSHttpBinding_ISFExpress">
      <soap12:address location="http://192.168.1.201:8100/LazyAtHome/SFExpressService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.1.201:8100/LazyAtHome/SFExpressService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>