Project/LazyAtHome.Winform.FactoryPortal/LazyAtHome.Winform.FactoryPortal/Service References/WashProductService/WashProductService6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/WashProductService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.Common.Contract.Enumerate" />
  <xs:complexType name="LoginCredentials">
    <xs:sequence>
      <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.Common.Contract.Enumerate" minOccurs="0" name="OperatorType" type="q1:OperatorType" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="LoginCredentials" nillable="true" type="tns:LoginCredentials" />
</xs:schema>