Project/LazyAtHome.Winform.FactoryPortal/LazyAtHome.Winform.FactoryPortal/Service References/InternalExpressService/InternalExpressPortal.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="InternalExpressPortal" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="WSHttpBinding_IInternalExpress_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsrm:RMAssertion xmlns:wsrm="http://schemas.xmlsoap.org/ws/2005/02/rm/policy">
          <wsrm:InactivityTimeout Milliseconds="600000" />
          <wsrm:AcknowledgementInterval Milliseconds="200" />
        </wsrm:RMAssertion>
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/InternalExpressService?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/InternalExpressService?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/InternalExpressService?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/InternalExpressService?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.WebService.Contract.DataContract.PR" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/InternalExpressService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.Common.Contract.Enumerate" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/InternalExpressService?xsd=xsd5" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.Express.Contract.DataContract" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/InternalExpressService?xsd=xsd6" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Enumerate" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/InternalExpressService?xsd=xsd7" namespace="http://schemas.datacontract.org/2004/07/System.Data" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/InternalExpressService?xsd=xsd8" namespace="http://schemas.datacontract.org/2004/07/System" />
      <xsd:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/InternalExpressService?xsd=xsd9" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IInternalExpress_CreateExpressOrder_InputMessage">
    <wsdl:part name="parameters" element="tns:CreateExpressOrder" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_CreateExpressOrder_OutputMessage">
    <wsdl:part name="parameters" element="tns:CreateExpressOrderResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Order_Create_SendNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Order_Create_SendNumber" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Order_Create_SendNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Order_Create_SendNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Order_UPDATE_Send_ChargeFee_InputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Order_UPDATE_Send_ChargeFee" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Order_UPDATE_Send_ChargeFee_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Order_UPDATE_Send_ChargeFeeResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Order_Get_ExpectTime_Change_InputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Order_Get_ExpectTime_Change" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Order_Get_ExpectTime_Change_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Order_Get_ExpectTime_ChangeResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Node_SELECT_List_InputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Node_SELECT_List" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Node_SELECT_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Node_SELECT_ListResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_StorageItem_SELECT_List_InputMessage">
    <wsdl:part name="parameters" element="tns:Exp_StorageItem_SELECT_List" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_StorageItem_SELECT_List_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exp_StorageItem_SELECT_ListResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Storage_FactoryTakeLine_Complete_InputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Storage_FactoryTakeLine_Complete" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Storage_FactoryTakeLine_Complete_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Storage_FactoryTakeLine_CompleteResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Storage_FactoryTakeLine_ErrorNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Storage_FactoryTakeLine_ErrorNumber" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Storage_FactoryTakeLine_ErrorNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Storage_FactoryTakeLine_ErrorNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Storage_FactoryTakeLine_ErrorCount_InputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Storage_FactoryTakeLine_ErrorCount" />
  </wsdl:message>
  <wsdl:message name="IInternalExpress_Exp_Storage_FactoryTakeLine_ErrorCount_OutputMessage">
    <wsdl:part name="parameters" element="tns:Exp_Storage_FactoryTakeLine_ErrorCountResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="true" name="IInternalExpress">
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="CreateExpressOrder">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalExpress/CreateExpressOrder" message="tns:IInternalExpress_CreateExpressOrder_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalExpress/CreateExpressOrderResponse" message="tns:IInternalExpress_CreateExpressOrder_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Exp_Order_Create_SendNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Order_Create_SendNumber" message="tns:IInternalExpress_Exp_Order_Create_SendNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Order_Create_SendNumberResponse" message="tns:IInternalExpress_Exp_Order_Create_SendNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Exp_Order_UPDATE_Send_ChargeFee">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Order_UPDATE_Send_ChargeFee" message="tns:IInternalExpress_Exp_Order_UPDATE_Send_ChargeFee_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Order_UPDATE_Send_ChargeFeeResponse" message="tns:IInternalExpress_Exp_Order_UPDATE_Send_ChargeFee_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Exp_Order_Get_ExpectTime_Change">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Order_Get_ExpectTime_Change" message="tns:IInternalExpress_Exp_Order_Get_ExpectTime_Change_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Order_Get_ExpectTime_ChangeResponse" message="tns:IInternalExpress_Exp_Order_Get_ExpectTime_Change_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Exp_Node_SELECT_List">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Node_SELECT_List" message="tns:IInternalExpress_Exp_Node_SELECT_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Node_SELECT_ListResponse" message="tns:IInternalExpress_Exp_Node_SELECT_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Exp_StorageItem_SELECT_List">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalExpress/Exp_StorageItem_SELECT_List" message="tns:IInternalExpress_Exp_StorageItem_SELECT_List_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalExpress/Exp_StorageItem_SELECT_ListResponse" message="tns:IInternalExpress_Exp_StorageItem_SELECT_List_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Exp_Storage_FactoryTakeLine_Complete">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Storage_FactoryTakeLine_Complete" message="tns:IInternalExpress_Exp_Storage_FactoryTakeLine_Complete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Storage_FactoryTakeLine_CompleteResponse" message="tns:IInternalExpress_Exp_Storage_FactoryTakeLine_Complete_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Exp_Storage_FactoryTakeLine_ErrorNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Storage_FactoryTakeLine_ErrorNumber" message="tns:IInternalExpress_Exp_Storage_FactoryTakeLine_ErrorNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Storage_FactoryTakeLine_ErrorNumberResponse" message="tns:IInternalExpress_Exp_Storage_FactoryTakeLine_ErrorNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation msc:isInitiating="true" msc:isTerminating="false" name="Exp_Storage_FactoryTakeLine_ErrorCount">
      <wsdl:input wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Storage_FactoryTakeLine_ErrorCount" message="tns:IInternalExpress_Exp_Storage_FactoryTakeLine_ErrorCount_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IInternalExpress/Exp_Storage_FactoryTakeLine_ErrorCountResponse" message="tns:IInternalExpress_Exp_Storage_FactoryTakeLine_ErrorCount_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WSHttpBinding_IInternalExpress" type="tns:IInternalExpress">
    <wsp:PolicyReference URI="#WSHttpBinding_IInternalExpress_policy" />
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CreateExpressOrder">
      <soap12:operation soapAction="http://tempuri.org/IInternalExpress/CreateExpressOrder" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exp_Order_Create_SendNumber">
      <soap12:operation soapAction="http://tempuri.org/IInternalExpress/Exp_Order_Create_SendNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exp_Order_UPDATE_Send_ChargeFee">
      <soap12:operation soapAction="http://tempuri.org/IInternalExpress/Exp_Order_UPDATE_Send_ChargeFee" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exp_Order_Get_ExpectTime_Change">
      <soap12:operation soapAction="http://tempuri.org/IInternalExpress/Exp_Order_Get_ExpectTime_Change" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exp_Node_SELECT_List">
      <soap12:operation soapAction="http://tempuri.org/IInternalExpress/Exp_Node_SELECT_List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exp_StorageItem_SELECT_List">
      <soap12:operation soapAction="http://tempuri.org/IInternalExpress/Exp_StorageItem_SELECT_List" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exp_Storage_FactoryTakeLine_Complete">
      <soap12:operation soapAction="http://tempuri.org/IInternalExpress/Exp_Storage_FactoryTakeLine_Complete" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exp_Storage_FactoryTakeLine_ErrorNumber">
      <soap12:operation soapAction="http://tempuri.org/IInternalExpress/Exp_Storage_FactoryTakeLine_ErrorNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Exp_Storage_FactoryTakeLine_ErrorCount">
      <soap12:operation soapAction="http://tempuri.org/IInternalExpress/Exp_Storage_FactoryTakeLine_ErrorCount" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="InternalExpressPortal">
    <wsdl:port name="WSHttpBinding_IInternalExpress" binding="tns:WSHttpBinding_IInternalExpress">
      <soap12:address location="http://192.168.1.201:8100/LazyAtHome/InternalExpressService" />
      <wsa10:EndpointReference>
        <wsa10:Address>http://192.168.1.201:8100/LazyAtHome/InternalExpressService</wsa10:Address>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>