Project/LazyAtHome.Winform.FactoryPortal/LazyAtHome.Winform.FactoryPortal/Service References/PRService/PRService.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.Common.Contract.DataContract.PR" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/LazyAtHome.WCF.Common.Contract.DataContract.PR" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://192.168.1.201:8100/LazyAtHome/PRService?xsd=xsd4" namespace="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" />
  <xs:complexType name="OperatorDC">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.datacontract.org/2004/07/LazyAtHome.Core.Infrastructure.WCF" base="q1:EntityBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Code" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Enable" type="xs:int" />
          <xs:element minOccurs="0" name="ID" type="xs:int" />
          <xs:element minOccurs="0" name="LoginName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LoginPwd" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MpNo" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NodeID" type="xs:int" />
          <xs:element minOccurs="0" name="NodeName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NodeType" type="xs:int" />
          <xs:element minOccurs="0" name="OnDuty" type="xs:int" />
          <xs:element minOccurs="0" name="ParentID" nillable="true" type="xs:int" />
          <xs:element minOccurs="0" name="ParentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RoleID" type="xs:int" />
          <xs:element minOccurs="0" name="RoleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="StorageID" type="xs:int" />
          <xs:element minOccurs="0" name="Type" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="OperatorDC" nillable="true" type="tns:OperatorDC" />
</xs:schema>